body{
    background-color: aquamarine;
}

.fancy-font{
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}

input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
    height: 100%;
  }